
h1 {
    text-align: center;
    color: #3498db;
    font-family: 'Arial', sans-serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.posts-form {
    width: 25%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

.newposts-table {
    width: 45%;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body > table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table.list {
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 12px;
}

tr:nth-child(even),
table.list thead>tr {
    background-color: #f9f9f9;
}

input[type=text], input[type=number] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #3498db;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form div.form-action-buttons {
    text-align: center;
    margin-top: 10px;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #3498db;
    margin-right: 8px;
}

label.validation-error {
    color: red;
    margin-left: 5px;
}

.hide {
    display: none;
}
